.first_widget {
    display: flex;
    background-color: black;
    background: url('https://www.uni.cards/images/redesign/black_background.webp');
    background-size: cover;
    height: 100vh;
    .contains {
        margin: 90px;
        .text_contains {
            margin-top: 90px;
            max-width: 550px;
            .main_text {
                font-size: 48px;
                line-height: 54px;
                letter-spacing: 0.2px;
                word-wrap: break-word;
                font-weight: 500;
                color: white;
                .colored_text {
                    color: linear-gradient(90deg, #8fffef 25%, #f9f490);
                }
            }
        }
        .form_container {
            float: left;
            position: relative;
            .phone_form {
                width: 320px;
                height: 52px;
                border-radius: 12px;
                border: 0;
                padding-left: 18px;
                background-color: rgba(69,75,81,1);
                font-size: 16px;
            }
            .phone_btn {
                position: absolute;
                right: 5px;
                top: 5px;
                height: 44px;
                padding: 4px 18px;
                border-radius: 12px;
                border: 0;
                background-color: #f9f490;
            }
        }
        .consent_form {
            float: left;
            .check_form {
                display: none;
            }
            .label_text {
                color: white;
            }
        }
    }
    .image_contains {
        margin-top: 90px;
        .card_image {
            width: 450px;
            height: 450px;
            animation: mover 2s infinite  alternate;
        }
        @keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-20px); }
        }
    }
}